<div>

  <div class="full-width full-height" id="loginDiv">
    <div>
      <mat-progress-bar *ngIf="load" mode="indeterminate"></mat-progress-bar>
    </div>
    <mat-card>
      <mat-card-title>

      </mat-card-title>
      <mat-card-title class="text-align-center">
        Locked Cabinet
      </mat-card-title>
      <mat-card-subtitle class="text-align-center">
        Login
      </mat-card-subtitle>
      <mat-card-content>
        <form>
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="ID" name="id" [(ngModel)]="loginInfo.id">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="loginInfo.password">
          </mat-form-field>
          <div id="loginButtonDiv">
            <button mat-raised-button type="submit" (click)="LogIn()" >Log In</button>
            <button mat-raised-button type="button" color="accent" (click)="loadTrue()" routerLink="/signup">Sign Up
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
