<mat-card class="width100Percent height100Percent" fxLayout="column">
  <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFlex="calc(100%-50px)">
    <form novalidate >
      <div class="fileUploadDiv">
        <button type="button" mat-button color="accent" mat-mini-fab (click)="imgFileInput.click()">
          <mat-icon>attachment</mat-icon>
        </button>
        <input hidden type="file" #imgFileInput (change)="fileChangeEvent($event)" />
        <mat-form-field class="example-full-width">
            <input matInput placeholder="File Name" [value]="file === null? '':file.name" readonly>
        </mat-form-field>
      </div>
      <div class="directoryUploadDiv">
        <button type="button" mat-button color="accent" mat-mini-fab (click)="imgDirectoreInput.click()">
          <mat-icon>folder</mat-icon>
        </button>
        <input hidden type="file" webkitdirectory mozdirectory #imgDirectoreInput (change)="directoryChangeEvent($event)" />
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Folder Name" [value]="files === null? '':files.folderName" readonly>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxFlex="50px">
    <span class="example-spacer"></span>
    <button mat-button type="submit" (click)="onSubmit()">Submit</button>
  </mat-card-actions>
</mat-card>
