<ng-container *ngIf="loading === true; else loaded">
    <div class="width100Percent height100Percent">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</ng-container>
<ng-template #loaded>
<mat-card class="width100Percent height100Percent">
    <mat-card-header>
      <mat-card-title>
        <p (click)="openFolder(undefined)">My Drive</p>
      </mat-card-title>
      <mat-card-subtitle fxLayout="row">
          <ng-container *ngFor="let hierarchy of hierarchies ;  last as isLast">
              <p (click)="openFolder(hierarchy.hash)"> {{hierarchy.name}} </p>
              <mat-icon *ngIf="!isLast">chevron_right</mat-icon>
          </ng-container>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
          <mat-list-item *ngFor="let data of datas">
            <ng-container *ngIf="data.isFolder; else fileTemplate">
                <button mat-icon-button (click)="openFolder(data.hash)">
                  <mat-icon class="mat-icon-rtl-mirror">
                    folder
                  </mat-icon>
                </button>
                <p>{{ data.name }}</p>
            </ng-container>
            <ng-template #fileTemplate>
                <button mat-icon-button disabled></button>
                {{ data.name }}
                <button mat-icon-button (click)="download(data.ref)"><mat-icon>cloud_download</mat-icon></button>
            </ng-template>
          </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>

