<ng-container *ngIf="loading === true; else loaded">
  <div class="width100Percent height100Percent spinnerDiv" fxLayout="row" fxLayoutAlign="center center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-container>
<ng-template #loaded>
  <mat-card class="width100Percent height100Percent fileListCard" (contextmenu)="onRightClick($event)">
    <mat-card-header class="width100Percent" fxLayout="row" fxLayoutAlign="space-between center">
        <app-toolbar [Hierarchy]="hierarchies"></app-toolbar>
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Additional Funtionality">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="downloadSelected()">
              <mat-icon>vertical_align_bottom</mat-icon>
              <span>Download</span>
            </button>
          </mat-menu>
    </mat-card-header>
      <ng-container *ngIf="dataSource.data.length === 0; else folderNotEmpty">
        <h1>This folder is Empty</h1>
      </ng-container>
      <ng-template #folderNotEmpty>
        <div class="fileListTableDiv">
          <table mat-table [dataSource]="dataSource" matSort class="width100Percent">
            <ng-container *ngFor="let column of displayedColumns" matColumnDef={{column}}>
              <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnCellName.get(column)}} </th>
              <td mat-cell *matCellDef="let element" [ngClass]="{'selected': selectedRow.has(element)}" (click)="toggleSelect(element, $event)" class="fileCell" (contextmenu)="onFileRightClick($event, element)">
                <ng-container *ngIf="column === 'name' ; else notNameColumnTemplate">
                  <ng-container *ngIf="element.isFolder; else fileTemplate">
                    <mat-icon (click)="openFolder(element.hash)">folder</mat-icon>
                  </ng-container>
                  <ng-template #fileTemplate>
                    <mat-icon>insert_drive_file</mat-icon>
                  </ng-template>
                </ng-container>
                <ng-template #notNameColumnTemplate>
                </ng-template>
                {{element[column]}}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </ng-template>   
  </mat-card>
    <app-contextMenu [@openClose]="isContextMenuOpened ? 'open' : 'closed'"  [top]="contextMenuTop" [left]="contextMenuLeft" [fileItems]="selectedRow">
    </app-contextMenu>
</ng-template>