@import './../../../app.component.scss';

mat-form-field {
    display: block;
}

.buttonDiv {
    width: 100%;
}

#title {
    @extend %selectNone;
    font-size: 100px;
}
#titleContainer{
    padding-bottom: 30px;
}

.logo{
    width:80%;
}
