<mat-progress-bar mode="indeterminate" *ngIf="showSpinner"></mat-progress-bar>
<mat-card [ngStyle]="{'opacity': showSpinner ? '0.5' : '1'}">
    <mat-card-header fxLayout="column" fxLayoutAlign="center center" id="titleContainer">
        <mat-card-title class="title" id="title">Gureum</mat-card-title>
        <mat-card-subtitle class="logo" fxLayout="row" fxLayoutAlign="center center" class="width100Percent">
            <img src="../../../../assets/logo.svg" fxFlex="50%">
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="row" fxLayoutAlign="center center">
        
        <form [formGroup]="form" (ngSubmit)="login()" fxLayout="column" fxLayoutAlign="center center" fxFlex="300px">  
            <mat-form-field class="width100Percent">
                <input matInput placeholder="Email" formControlName="email" />
            </mat-form-field >
            <mat-form-field class="width100Percent">
                <input matInput placeholder="Password" formControlName="password" type="password" />
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="space-between stretch" class="buttonDiv">
                <button mat-button type="submit">Login</button>
                <button mat-button type="button" routerLink="/register">
                    Register
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>