@import './../../../app.component.scss';

mat-form-field {
    display: block;
}

.buttonDiv {
    width: 100%;
}

#title {
    font-size: 100px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#titleContainer{
    padding-bottom: 30px;
}

.logo{
    width:80%;
}
