<form [formGroup]="form" (ngSubmit)="login()" fxLayout="column" fxLayoutAlign="center center">  
    <mat-form-field>
      <input matInput placeholder="Email"  formControlName = "email">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Password"  formControlName = "password" type="password">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-between stretch" class="buttonDiv">
        <button mat-button type="submit">Login</button>
        <button mat-button type="button" routerLink="/register">Register</button>
    </div>
</form>
