.app-content {
  padding: 20px;
}

.app-content mat-card{
  margin: 20px;
}

.container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

body{
  height:100%;
  margin:0px;
}
.mat-drawer-container{ overflow: visible; }
.matDrawer{
  border:none;
}
.backgroundWhite{
  background-color: white;
}
.a {
  background-color: darkgray;
}
.active-link{
  background-color: darkslategrey;
  color:white;
}

.menuButton:focus{
  outline:0px;
}

.width100Percent{
  width:100%;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.uploadMenu {
  width:200px;
  position:absolute;
  top:-40px;
}
.uploadButton {
  height:40px;
}
#uploadTaskDiv {
  bottom: 24px;
  display: block;
  left: auto;
  max-height: 323px;
  // opacity: 1;
  overflow: visible;
  position: absolute;
  right: 24px;
  z-index: 1001;
  height:auto ;
  width:362px;
  background-color: white;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform: translate3d(0,24px,0);
  transform: translate3d(0,24px,0);
  -webkit-transition: transform .15s cubic-bezier(0.4,0.0,1,1),opacity .15s cubic-bezier(0.4,0.0,1,1),visibility 0ms linear .15s;
  transition: transform .15s cubic-bezier(0.4,0.0,1,1),opacity .15s cubic-bezier(0.4,0.0,1,1),visibility 0ms linear .15s;
  z-index: 1001;
  bottom: 54px;
  display: block;
  left: auto;
  max-height: 323px;
  overflow: visible;
  position: absolute;
  right: 24px;
}
#uploadTaskDivToolbar{
  background-color: #323232;
  color: white;
  border-radius: 3px 3px 0 0;
}

.example-spacer {
  flex: 1 1 auto;
}
