
.app-content {
  padding: 20px;
}

.app-content mat-card{
  margin: 20px;
}

.container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

body{
  height:100%;
  margin:0px;
}
#toolbarRow{
  background: white;
  span{
    color: #323232;
    font-size: 2em;
  }
  .logo{
    width:100px;
    padding-right:10px;
  }
  border-bottom: 1px solid #dadce0;
}
.searchBar{
  margin-left: 50px;
  background: #f1f3f4;
  border: 1px solid transparent;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-right: auto;
  max-width: 720px;
  position: relative;
  -webkit-transition: background 100ms ease-in,width 100ms ease-out;
  transition: background 100ms ease-in,width 100ms ease-out;
  .searchBarInput{
    font-size: 16px;
    background: transparent;
    border:0px;
    width:700px;
  }
  .searchBarInput:focus{
    outline: none;
  }
}
.mat-drawer-container{ overflow: visible; }
.matDrawer{
  border:none;
  padding-right:20px;
}
.backgroundWhite{
  background-color: white;
}
.a {
  background-color: #f7f7f7;
  -webkit-border-radius: 0 66px 66px 0;
  border-radius: 0 66px 66px 0;
}
.active-link{
  background-color: #e8f0fe;
  color:white;
  -webkit-border-radius: 0 66px 66px 0;
  border-radius: 0 66px 66px 0;
}
.menuButton{
  height:40px !important;
  &:focus{
    outline:0px;
  }
}
.width100Percent{
  width:100%;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.uploadMenu {
  width:200px;
  position:absolute;
  top:-40px;
}
.uploadButton {
  height:40px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  align-items: center;
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 24px !important;
  color: #3c4043;
  display: inline-flex;
  font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 14px;
  height: 48px;
  letter-spacing: .15px;
  line-height: 22px;
  margin: 0;
  min-width: 120px !important;
  padding: 0 24px 0 0;
  text-transform: none;
  width: inherit;
}
.uploadDiv{
  padding-top:20px !important;
  padding-left: 20px !important;
  padding-bottom : 10px;
}
#uploadTaskDiv {
  bottom: 24px;
  display: block;
  left: auto;
  max-height: 323px;
  // opacity: 1;
  overflow: visible;
  position: absolute;
  right: 24px;
  z-index: 1001;
  height:auto ;
  width:362px;
  background-color: white;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform: translate3d(0,24px,0);
  transform: translate3d(0,24px,0);
  -webkit-transition: transform .15s cubic-bezier(0.4,0.0,1,1),opacity .15s cubic-bezier(0.4,0.0,1,1),visibility 0ms linear .15s;
  transition: transform .15s cubic-bezier(0.4,0.0,1,1),opacity .15s cubic-bezier(0.4,0.0,1,1),visibility 0ms linear .15s;
  z-index: 1001;
  bottom: 54px;
  display: block;
  left: auto;
  max-height: 323px;
  overflow: visible;
  position: absolute;
  right: 24px;
}
#uploadTaskDivToolbar{
  background-color: #323232;
  color: white;
  border-radius: 3px 3px 0 0;
}

.example-spacer {
  flex: 1 1 auto;
}
