.app-content {
  padding: 20px;
}

.app-content mat-card{
  margin: 20px;
}

.container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.mat-drawer-container{ overflow: visible; }

.a {
  background-color: darkgray;
}
.active-link{
  background-color: darkslategrey;
  color:white;
}
.menuButton:focus{
  outline:0px;
}