/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber';

html{
    height:100%;
}
body {
    background-color: #f7f7f7;
    height:100%;
    margin:0px;
}
app-root{
    height:100%;
}
/* Tablet format and lower */
@media only screen and (max-width: 1024px) {

}

/* Mobile format and lower */
@media only screen and (max-width: 768px) {

}

/* Mobile format landscape (wide) */
@media only screen and (min-width: 320px) and (max-width: 480px) {

}

/* Mobile format portrait (small) */
@media only screen and (max-width: 320px) {

}
